@using Microsoft.AspNet.Identity
@model ListedIN.ViewModels.ProfileViewModel                          

@{
    ViewBag.Title = @Model.User.FirstName.ToString() + " " +  @Model.User.LastName.ToString() + " " + "Profile" ;
    Layout = "../Shared/_Layout.cshtml";
}

<h2>@Model.User.FirstName's Profile</h2>      
  

@Html.Partial("_Partial_Sec1",Model.User)
@Html.Partial("_Partial_Sec2", Model.Educations)



@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}


