@using Microsoft.AspNet.Identity
@model ListedIN.ViewModels.ProfileViewModel                          

@{
   
        ViewBag.Title = "Me";
  

    Layout = "../Shared/_Layout.cshtml";
}

<h2>My Profile</h2>      
  
       

@Html.Partial("_Partial_Sec1",Model.User)

@Html.Partial("_Partial_Sec1_Edit", Model.User)  
@Html.Partial("_Partial_Sec1_Upload", Model.User)  


@Html.Partial("_Partial_Sec2")
@Html.Partial("_Partial_Sec2_Add")
@Html.Partial("_Partial_Sec2_Edit")

  

@Html.Partial("_Partial_Sec3")


@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")    
    
  

}


