                      
@using Microsoft.AspNet.Identity
@model ListedIN.ViewModels.ProfileViewModel


<div class="row" id="myProfile_Sec2">
    <div class="col-md-8">



        <div class="thumbnail">
            <div class="caption">
            <p>Education</p>

                @{
                    foreach (var education in Model.Educations)
                    {
                
                        <div class="row">
                            <div class="col-md-12">    
                                <button type="button" class="btn btn-primary" style="float: right" data-toggle="modal" data-target="#myModal2">
                                    Edit
                                </button> 
                                <h4>@education.Name</h4>
                                <h5>@education.Degree - @education.Field  - Grade( @education.Grade )</h5>
                                <h6> from @education.FromYear to @education.ToYear</h6>     
                                <p>@education.Description</p>
                            </div>
                        </div>
     <p>--------------------------------------------------------------</p>   // Stupid, but works as wanted

                    }


                }
              

           
            </div>
        </div>
    </div>
</div>

