@using Microsoft.AspNet.Identity
@model ListedIN.ViewModels.ProfileViewModel


<div class="row" id="myProfile_Sec2">
    <div class="col-md-8">



        <div class="thumbnail">
            <div class="caption">   
                @{
                    if (User.Identity.GetUserId() == Model.User.Id)
                    {
                        <button type="button" class="btn btn-success" style="float: right" data-toggle="modal" data-target="#myModal-AddSec2">
                            Add
                        </button>
                    }
                }
                <p>Education</p>
             
                <hr />
                <br/>
                @{  
                   
                    
                    foreach (var education in Model.Educations)
                    {

                        <div class="row" id="row-@education.Id">
                            <div class="col-md-12">
                                @{
                                    if (User.Identity.GetUserId() == education.fk_User)
                                    {
                                        <button type="button" class="btn btn-primary" style="float: right" data-toggle="modal" data-target="#myModal-@education.Id">
                                            Edit
                                        </button>            
                                        <a class="btn btn-danger" style="float: right" onclick="Delete(@education.Id)">Delete</a>
                                    }
                                }
                                <h4>@education.Name</h4>
                                <h5>@education.Degree  @education.Field   @education.Grade </h5>
                                @{
                                    if (education.FromYear != null && education.ToYear != null)
                                    {
                                        <h6> from @education.FromYear to @education.ToYear</h6>
                                    }
                                }


                                <p>@education.Description</p>
                            </div>
                        </div>
                        <hr />
                    }


                }



            </div>
        </div>
    </div>
</div>  
       
  


<script>
        function Delete(id) {

            bootbox.confirm("Confirm the Delete Process ?",
                function(result) {

                    if (result) {
                        $.ajax({
                            type: "POST",
                            url: `/Profile/Delete/${id}`,


                            success: function(result) {
                                //$(document.body).load(location.href);

                                $("#myProfile_Sec2").load(location.href + " #myProfile_Sec2>*", "");
                            }
                        

                    });


                    }
                });

        }


    </script>

           



@*@section scripts
    {
        <script>

            $(document).ready(function() {


                $("#myProfile_Sec2 .js-delete").on("click", ".js-delete", function() {

                    var button = $(this);

                    bootbox.confirm("Confirm the Delete Process ?",
                        function(result) {

                            if (result) {
                                $.ajax({
                                    method: "DELETE",
                                    url: `/Profile/Delete/${id}`

                                });

                });

            });
        </script>

    }*@
