
@using System.Runtime.InteropServices
@using Microsoft.AspNet.Identity
@model ListedIN.Models.ApplicationUser


<div class="row" id="myProfile_Sec1">
    <div class="col-md-8">



        <div class="thumbnail">

            <div class="caption">
                @{
                    var imgUrl = Url.Content("~/Content/images/profile/" + Model.Id + ".png") + "?time=" + DateTime.Now.ToString();

                    <img id="profile-Img" src="@imgUrl" height="128" width="128" style="border-radius:50%;" />
                }



                @if (User.Identity.GetUserId() == Model.Id)
                {
                    <button type="button" style="background-color: Transparent; background-repeat: no-repeat; border: none;cursor: pointer; overflow: hidden; outline: none;" data-toggle="modal" data-target="#myModal-upload">
                        <span class="glyphicon glyphicon-cloud-upload" aria-hidden="true"></span>
                    </button>

                    @*using (Html.BeginForm("UploadPhoto", "Profile", FormMethod.Post, new { enctype = "multipart/form-data" }))

                        {
                            @Html.AntiForgeryToken()
                            <input type="file" name="file" id="files" onchange="this.form.submit()"/>
                        }*@
                }

                <hr />    <!--separator-->

                @if (User.Identity.GetUserId() == Model.Id)
                {

                    <button type="button" class="btn btn-primary" style="float: right" data-toggle="modal" data-target="#myModal">
                        Edit
                    </button>
                }



                <h3> @Model.FirstName @Model.LastName </h3>


                @if (Model.Position != null)
                {

                    <h4>@Model.Position</h4>

                }

                @if (Model.HeadLine != null)
                {

                    <h5>@Model.HeadLine</h5>

                }



                @if (Model.Country != 0)
                {

                    <h6>@Model.Country</h6>

                }




                @if (Model.Summary != null)
                {

                    <p>@Model.Summary</p>

                }
            </div>
        </div>
    </div>
</div>

